<div class="bg-white">
    {{#if isAuth}}
        <div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
            <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
                <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
            </div>
            <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
                <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
            </div>
            <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
                <p class="text-sm leading-6 text-gray-900">
                    <strong class="font-semibold" id="welcome-msg"></strong>
                    <svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>
                    Glad to see you again!
                </p>
            </div>
            <div class="flex flex-1 justify-end">
                <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
                <span class="sr-only">Dismiss</span>
                <svg class="h-5 w-5 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
                </button>
            </div>
        </div>
    {{/if}}

    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Product List</h2>

        {{#if products}}
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                {{#each products}}
                    <div class="group relative">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                            <img src="{{this.thumbnail}}" alt="{{this.title}}" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                        </div>
                        <div class="mt-4 flex justify-between">
                            <div>
                                <h3 class="text-sm text-gray-700">
                                <a href="#">
                                    <span aria-hidden="true" class="absolute inset-0"></span>
                                    {{this.title}}
                                </a>
                                </h3>
                                <p class="mt-1 text-sm text-gray-500">{{this.description}}</p>
                            </div>
                            <p class="text-sm font-medium text-gray-900">${{this.price}}</p>
                        </div>
                        <button id="addToCartBtn" style="z-index: 999; position:relative;" data-pid="{{this._id}}" type="button" class="mt-5 bg-lime-500 text-white font-semibold px-4 py-2 rounded-lg hover:bg-lime-500">
                            Add to Cart
                        </button>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>No products</p>
        {{/if}}

        {{#if totalPages}}
            <div class="mt-12 flex justify-center text-center">
                <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                    {{#if hasPrevPage }}
                        <button onclick="goToPage('{{prevLink}}')" style="z-index: 999; position:relative;" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                            <span class="sr-only">Previous</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    {{else}}
                        <button type="button" disabled class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                            <span class="sr-only">Previous</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    {{/if}}

                    {{#each (range totalPages)}}
                        {{#if this}}
                            {{#if (eq this currentPage)}}
                                <a href="#" aria-current="page" class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{this}}</a>
                            {{else}}
                                <a href="/views/products?limit=10&page={{this}}" style="z-index: 999; position:relative;" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">{{this}}</a>
                            {{/if}}
                        {{/if}}
                    {{/each}}

                    {{#if hasNextPage }}
                        <button onclick="goToPage('{{nextLink}}')" style="z-index: 999; position:relative;" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                            <span class="sr-only">Next</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    {{else}}
                        <button type="button" disabled class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                            <span class="sr-only">Next</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    {{/if}}
                </nav>
            </div>
        {{/if}}

        <div class="mt-6 flex justify-center text-center text-sm text-gray-500">   
            <button style="z-index: 999; position:relative;" id="gotocartBtn" type="button" class="font-medium text-indigo-600 hover:text-indigo-500">
                Go to cart
                <span aria-hidden="true"> &rarr;</span>
            </button>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const addToCart = (pid, cid) => {
        console.log("Add to cart: " + pid + " " + cid);
        const data = {
            pid: pid,
            cid: cid
        }

        const socket = io();
        socket.emit('onaddtocart', data);
        return false;
    }
    
    const goToCart = (cid) => {
        console.log("Go to cart: " + cid);
        window.location.href = "/views/cart/" + cid;
    }

    const goToPage = (url) => {
        window.location.href = url;
    }

    const initialize = async () => {
        let user = sessionStorage.getItem('user') ? JSON.parse(sessionStorage.getItem('user')) : null;

        if (!user) {
            user = await getCurrentUser();
            sessionStorage['user'] = JSON.stringify(user);
        }
        
        if(user && user.cart) {
            document.getElementById('gotocartBtn').addEventListener('click', () => goToCart(user.cart));

            document.querySelectorAll('[data-pid]').forEach(element => {
                element.addEventListener('click', () => {
                    const pid = element.dataset.pid;
                    addToCart(pid, user.cart);
                });
            });
        }
    }

    document.addEventListener("DOMContentLoaded", function(event) { 
        initialize();
    });
</script>