<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Product List</h2>

        {{#if products}}
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                {{#each products}}
                    <div class="group relative">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                            <img src="{{this.thumbnail}}" alt="{{this.title}}" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                        </div>
                        <div class="mt-4 flex justify-between">
                            <div>
                                <h3 class="text-sm text-gray-700">
                                <a href="#">
                                    <span aria-hidden="true" class="absolute inset-0"></span>
                                    {{this.title}}
                                </a>
                                </h3>
                                <p class="mt-1 text-sm text-gray-500">{{this.description}}</p>
                            </div>
                            <p class="text-sm font-medium text-gray-900">${{this.price}}</p>
                        </div>
                        <button style="z-index: 999; position:relative;" type="button" onclick="addToCart('{{this._id}}'); return false;" class="mt-5 bg-lime-500 text-white font-semibold px-4 py-2 rounded-lg hover:bg-lime-500">
                            Add to Cart
                        </button>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>No products</p>
        {{/if}}

        <div class="mt-6 flex justify-center text-center text-sm text-gray-500">   
            <button style="z-index: 999; position:relative;" onclick="goToCart(); return false;" type="button" class="font-medium text-indigo-600 hover:text-indigo-500">
                Go to cart
                <span aria-hidden="true"> &rarr;</span>
            </button>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const addToCart = (pid) => {
        console.log("Add to cart: " + pid);
        const socket = io();
        socket.emit('onaddtocart', pid);
        return false;
    }
    
    const goToCart = () => {
        window.location.href = "/views/carts/6569232dfd90f493970a65cd";
    }
</script>