<div class="flex">
    <div class="mx-auto max-h-screen max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 overflow-auto">
        <h2 class="text-2xl font-semibold mb-4">Real Time: Product List</h2>

        {{#if products}}
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8" id="productsContainer">
                {{#each products}}
                    <div class="group relative" >
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                            <img src="{{this.thumbnail}}" alt="{{this.title}}" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                        </div>
                        <div class="mt-4 flex justify-between">
                            <div>
                                <h3 class="text-sm text-gray-700">
                                    <a href="#">
                                        <span aria-hidden="true" class="absolute inset-0"></span>
                                        {{this.title}}
                                    </a>
                                </h3>
                                <p class="mt-1 text-sm text-gray-500">{{this.description}}</p>
                            </div>
                            <p class="text-sm font-medium text-gray-900">${{this.price}}</p>
                            <button style="z-index: 999" type="button" onclick="return deleteProduct({{this._id}}); return false;">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-1 stroke-red-400">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </button>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>No products</p>
        {{/if}}
    </div>

    <div class="mt-4 max-w-2xl mx-auto bg-white p-8">
        <h1 class="text-2xl font-semibold mb-4">Upload Product</h1>
        <form onsubmit="return addProduct()">
            <div class="mb-4">
                <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <!-- Product Title -->
                    <div class="sm:col-span-3">
                        <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
                        <div class="mt-2">
                            <input type="text" name="title" id="title" class="w-full px-4 py-2 border rounded-lg">
                        </div>
                    </div>

                    <!-- Product Code -->
                    <div class="sm:col-span-3">
                        <label for="code" class="block text-sm font-medium leading-6 text-gray-900">Code</label>
                        <div class="mt-2">
                            <input type="text" name="code" id="code" class="w-full px-4 py-2 border rounded-lg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <!-- Product Price -->
                    <div class="sm:col-span-3">
                        <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Price</label>
                        <div class="mt-2">
                            <input type="number" step="0.01" name="price" id="price" class="w-full px-4 py-2 border rounded-lg">
                        </div>
                    </div>
                    <!-- Product Stock -->
                    <div class="sm:col-span-3">
                        <label for="stock" class="block text-sm font-medium leading-6 text-gray-900">Stock</label>
                        <div class="mt-2">
                            <input type="number" name="stock" id="stock" class="w-full px-4 py-2 border rounded-lg">
                        </div>
                    </div>
                </div>   
            </div>

            <!-- Product Description -->
            <div class="mb-4">
                <label for="description" class="block text-sm font-medium leading-6 text-gray-900">Description</label>
                <p class="mt-1 mb-1 text-sm leading-6 text-gray-600">Write a few sentences about the product.</p>
                <div class="mt-2">
                    <textarea name="description" id="description" class="w-full px-4 py-2 border rounded-lg"></textarea>
                </div>
            </div>

            <!-- Product Category -->
            <div class="mb-4">
                <fieldset>
                    <legend class="text-sm font-semibold leading-6 text-gray-900">Category</legend>
                    <p class="mt-1 mb-1 text-sm leading-6 text-gray-600">Select the type of product.</p>
                    <div class="flex gap-x-3">
                        <div class="flex items-center gap-x-2">
                            <input id="category-plushies" name="push-notifications" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                            <label for="category-plushies" class="block text-sm font-medium leading-6 text-gray-900">Toys</label>
                        </div>
                        <div class="flex items-center gap-x-2">
                            <input id="category-homedecor" name="push-notifications" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                            <label for="category-homedecor" class="block text-sm font-medium leading-6 text-gray-900">Decoration</label>
                        </div>
                        <div class="flex items-center gap-x-2">
                            <input id="category-accesories" name="push-notifications" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                            <label for="category-accesories" class="block text-sm font-medium leading-6 text-gray-900">Accesories</label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Thumbnail -->
            <div class="mb-4">
                <label for="price" class="block text-sm font-medium leading-6 text-gray-900">Cover Photo</label>
                <p class="mt-1 mb-1 text-sm leading-6 text-gray-600">Insert the link to the product image.</p>
                <div class="mt-2">
                    <input type="text" name="thumbnail" id="thumbnail" class="w-full px-4 py-2 border rounded-lg">
                </div>
            </div>

            <!-- Submit Button -->
            <div class="mt-6">
                <button type="submit" class="bg-lime-500 text-white font-semibold px-4 py-2 rounded-lg hover:bg-lime-500">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>

